---
title: Aerospike Service Broker for PCF
owner: Partners
---

This documentation describes the Aerospike Service Broker for Pivotal Cloud Foundry (PCF). The Aerospike Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace. Developers can create instances of these service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI), and bind them to applications to access an existing Aerospike database.

## <a id='overview'></a>Overview

Aerospike is a high-performance, distributed, scalable NoSQL database and key/value store. 

The Aerospike Service Broker for PCF integrates your Aerospike database with your PCF deployment, by automatically discovering the [namespaces](http://www.aerospike.com/docs/architecture/data-model.html#namespaces) that have been created on the database and exposing them as service plans in the Marketplace. Developers can create instances of these service plans and bind them to applications to provide connection information to the applications.

The Aerospike Service Broker for PCF has the following features:

* Key-value store
* Flexible data model
* User-defined functions
* Geospatial support
* Aggregations
* Geographic replication
* Open-source

For more information about Aerospike, see the [Aerospike documentation](http://www.aerospike.com/docs/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Aerospike Service Broker for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 12, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Aerospike Server (Community or Enterprise) v3.9.1 or later</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Services (PAS)* version(s)</td>
        <td>v2.0.0</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>
\* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. If your tile supports PCF 2.0, it will use PAS, not Elastic Runtime.

## <a id="reqs"></a>Requirements

Aerospike Service Broker for PCF has the following requirements:

* You must have an Aerospike database server deployed. 
* Your Aerospike database must have a namespace configured to store service and application binding information for the Aerospike Service Broker. 
* If you have deployed the Enterprise Edition of the Aerospike database server, you must also configure a user with read-write permissions to the designated namespace. This user must also have user-admin permissions because the Aerospike Service Broker will create and delete users during the application binding and unbinding operations.

For more information about how to deploy an Aerospike database, see the [Aerospike documentation](http://www.aerospike.com/docs/operations).

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [pcf-support@aerospike.com](mailto:pcf-support@aerospike.com).

## <a id='license'></a>License

Customers interested in deploying the Aerospike database server can download and install it from the [download page](http://www.aerospike.com/download/). To obtain a license for the Enterprise Edition of the server, use [this form](http://www.aerospike.com/contact-us/) to contact the Aerospike sales team.

