---
title: Aerospike Service Broker for PCF
owner: Partners
---

This documentation describes the Aerospike Service Broker for Pivotal Cloud Foundry (PCF). The Aerospike Service Broker registers a service broker on PCF and exposes its service plans on the Marketplace. Developers can provision application services on an existing Aerospike database by creating instances of the service plans using Apps Manager or the cf Command Line Interface (CLI).

## <a id='overview'></a>Overview

Aerospike is a high performance, distributed, scalable NoSQL database and key/value store. The Aerospike Service Broker for PCF is designed to be used with an already deployed Aerospike database and will automatically discover the [namespaces](http://www.aerospike.com/docs/architecture/data-model.html) which have been created on the database and expose them as service plans which can be used to create services within PCF. These services can then be bound to applications deployed in PCF providing connection information to the applications.

For more information, see the [Aerospike documentation](http://www.aerospike.com/docs/)

## <a id="snapshot"></a>Product Snapshot

<dl>
<dt>Aerospike Service Broker for Pivotal Cloud Foundry Details:</dt>
<dd><strong>Version</strong>: v0.1.0 </dd>
<dd><strong>Release Date</strong>: September 10, 2016)</dd>
<dd><strong>Software component version</strong>: Aerospike Server (Community or Enterprise) v3.9.1 or greater</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: v1.7.x</dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: v1.4.x, v1.5.x, v1.6.x</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>AWS support?</strong> Yes</dd>
</dl>

## <a id="reqs"></a>Requirements

To use the Aerospike Service Broker, you must have an Aerospike database server already deployed. The database should have a namespace configured which will be used by the Aerospike Service Broker to store service and application binding information. If using the Enterprise Edition of the server, there should also be a user configured with read-write permissions to the designated namespace as well as user-admin permissions since the Service Broker will create/delete users during the application binding/unbinding operations.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to [pcf-support@aerospike.com](mailto:pcf-support@aerospike.com).

## <a id='license'></a>License

Customers interested in using Aerospike can download and install it from the [download page](http://www.aerospike.com/download/). To obtain a license for the Enterprise Edition of the server, use [this form](http://www.aerospike.com/contact-us/) to contact the Aerospike sales team.

