---
title: Installing and Configuring Aerospike Service Broker for PCF
owner: Partners
---

This topic describes how to install and configure the Aerospike Service Broker for PCF.

##<a id='install'></a> Install and Configure the Aerospike Service Broker

To install and configure the Aerospike Service Broker tile, perform the following steps:

1. Download the product file from Pivotal Network.

1. Upload the product file on the Ops Manager Installation Dashboard.

1. Click **Add** next to the uploaded Aerospike Service Broker tile in the Ops Manager **Available Products** view to add it to your staging area.
    <br><%= image_tag('add-tile.png') %>

1. Click the newly added **Aerospike Service Broker** tile.
    <br><%= image_tag('tile.png') %>

1. From the **Settings** tab, click **Aerospike Configuration**.
    <br><%= image_tag('aerospike-config.png') %>

1. Under **Custom Properties for Aerospike**, complete the following fields:
    <%= image_tag('custom-properties.png') %>
    * **Aerospike DB Host**: Enter the hostname or IP address of one of the nodes of your Aerospike cluster.
    * **Aerospike DB Port**: Ensure the port number is correct. This should match the **service port** as configured on the Aerospike database.
    * **Aerospike License Type**: Select **Community** or **Enterprise**.
    * **Aerospike Admin Namespace**: Enter the namespace that the Aerospike Service Broker will use to store service and application bindings.
    * **Aerospike User** and **Aerospike Password**: If you have deployed the Enterprise Edition of the Aerospike database server, enter the **User** and **Password** for the account information that the Service Broker will use to access the Aerospike database.
1. Click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install the Aerospike Service Broker for PCF tile.

